.root{
    -fx-background-image:url("https://lh4.googleusercontent.com/jiHAyST0FzY5hbsyqgXQtxQxtKGMTTPVndELf2noieImYqm0E2EwDyBIlOneyzf_moaEvJm8G_I_R7KrqEbPFnZ6aev5SDboPavX4ExlUc_Z1QJYfjelXYTFRsT1zWFV_lB5ZF6W");
    /*Logos used are a trademark of their respected owners Fair Use for educational purposes.*/
    -fx-font-family: "Corberl";
}
.textField{
    -fx-font-family: "Consolas";
    -fx-font-size: 20;
    -fx-text-fill: whitesmoke;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-background-color: transparent;
    -fx-max-width: 200;
    -fx-prompt-text-fill: white;
   }
.textField:focused{
    -fx-font-family: "Consolas";
    -fx-font-size: 20;
    -fx-text-fill: whitesmoke;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-background-color: transparent;
    -fx-max-width: 200;
}
#button{
    -fx-font-size: 16;
    -fx-background-color:  rgba(246, 61, 77,.8);
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.3);
    -fx-border-radius:5;
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-width:50;
}
#button:focused{
    -fx-background-color: rgba(246, 61, 77,.6);
    -fx-text-fill: whitesmoke;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-border-radius:5;
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
}
#text_area{
    -fx-max-width:300;
    -fx-background-color:  rgba(246, 61, 77,.85);
    -fx-text-fill: white;
    -fx-font-size: 25;
}
#box{
    -fx-background-color:rgba(0, 0, 0, 0.2);

}
